.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 600;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .15rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

body {
    /** background: rgb(34, 131, 132);
    background: linear-gradient(31deg, rgba(34, 131, 132, 1) 0%, rgba(221, 221, 221, 1) 30%, rgba(183, 240, 238, 1) 66%, rgba(82, 233, 226, 1) 100%);
    **/
    background-image: url('assets/img/texas.png');
}

/** Anime Object **/

.square {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 4px;
    display: inline-block;
}

.turquoise {
    background-color: turquoise;
}

.white {
    background-color: white;
}

/** Splash **/

.splash {
    position: fixed;
    background: #212529;
    z-index: 200;
    color: white;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    z-index: -20;
    color: white;
    transition: all 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}